@import "~bootstrap/scss/bootstrap";
$font-color: #B8E5F7;
body {
    background-color: lightgray;
}

.app-form {
    margin-top: 60px;
    background-color: $font-color;
    padding: 15px;
    border: 1px solid black;
}