<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B8E5F7;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      {% if app.user %}
      <li class="nav-item">
          <a class="nav-link" href="#">Comptes bancaire</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{{ path('logout') }}">Déconnection</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('register') }}">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('login') }}">Connection</a>
        </li>
       {% endif %}  
      </ul>
    </div>
  </div>
</nav>